# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
*.pyc
*.bak
*.swp

# Static files
/staticfiles/
*.swp
*.log

# Media files
/media/

# Virtual environment
venv/
